	<article class="col-xs-12">
		<section class="col-xs-12 information">
			<h3 class="info-header">成分</h3>
			<p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer eget.</p>
		</section>
		<section class="col-xs-12 information">
			<h3 class="info-header">商品資訊</h3>
			<p>Lorem ipsum dolor sit amet, sapien etiam, nunc amet dolor ac odio mauris justo. Luctus arcu, urna praesent at id quisque ac. Arcu es massa vestibulum malesuada, integer eget.</p>
			<section class="col-xs-4 center">
				<img class="icon" ng-src="./img/heart.png">
			</section>
			<section class="col-xs-4 center">
				<img class="icon" ng-src="./img/edit.png">
			</section>
			<section class="col-xs-4 center">
				<img class="icon" ng-src="./img/upload.png">
			</section>
		</section>
		<section class="col-xs-12 information">
			<h3 class="info-header">商品註冊</h3>
			<p class="col-xs-6">憑證：已註冊</p>
			<p class="col-xs-6">狀態：遺失</p>
			<p class="col-xs-12">使用者聯絡：0987-654-123</p>
		</section>
	</article>