<header class="col-xs-12 title">
	<div class="col-xs-12 item active">
		<p>登入</p>
	</div>
</header>
<article class="col-xs-12">
	<section class="col-xs-12 form">
		<div class="col-xs-3 sub-title"><h3>帳號</h3></div>
		<div class="col-xs-9 form-input"><input type="text" name="account" placeholder="account"></div>
		<div class="col-xs-3 sub-title"><h3>密碼</h3></div>
		<div class="col-xs-9 form-input"><input type="password" name="account" placeholder="password"></div>
		<div class="col-xs-12">
		<div class="col-xs-2"></div>
			<button class="col-xs-8 btn btn-default" ui-sref="tab.home">登入</button>
			<div class="col-xs-2"></div>
		</div>
	</section>

	<section class="col-xs-12 social">
		<div class="col-xs-1"></div>
		<button class="col-xs-10 btn btn-fb">
			<h2>Facebook</h2>
		</button>
		<div class="col-xs-1"></div>
	</section>

	<section class="col-xs-12 social">
		<div class="col-xs-1"></div>
		<button class="col-xs-10 btn btn-tw">
			<h2>Twitter</h2>
		</button>
		<div class="col-xs-1"></div>
	</section>

	<section class="col-xs-12 social">
		<div class="col-xs-1"></div>
		<button class="col-xs-10 btn btn-go">
			<h2>Google</h2>
		</button>
		<div class="col-xs-1"></div>
	</section>
</article>