<section class="col-md-12 section">
	<!-- apleplci -->
	
	<div class="vertical_home vertical_home_left opening">
	S<br>M<br>A<br>R<br>T
	</div>
	<div class="vertical_home vertical_home_right opening">
		I<br>T<br><p class="bigX">X</p><br>I<br>L
	</div>
	<div class="display">
		<ul class="nav">
			<li><a href="#introduce">introduce</a></li>
			<li><a href="#analysis">analysis</a></li>
			<li class="last"><a href="#reservation">reserve</a></li>
		</ul>
		<div>
			<button class="cbutton">M O R E .</button>
		</div>
	</div>
	<div class="col-md-4 showCircleList" id="introduce">
		<!-- circle -->
		<img src="" >
		<svg height="220" width="220">
		  <circle cx="110" cy="110" r="100" stroke="black" stroke-width="3" fill="red" />
		</svg>
	</div>
	<div class="col-md-4 showCircleList">
	<!-- circle -->
		<img src="">
		<svg height="220" width="220">
		  <circle cx="110" cy="110" r="100" stroke="black" stroke-width="3" fill="red" />
		</svg>
	</div>
	<div class="col-md-4 showCircleList last">
	<!-- circle -->
		<img src="">
		<svg height="220" width="220">
		  <circle cx="110" cy="110" r="100" stroke="black" stroke-width="3" fill="red" />
		</svg>
	</div>
	<div class="col-md-12 show-description">
		<h1 class="title">title</h1>
		<span>description description description description description description description description description description description descriptiondescriptiondescriptiond escriptiondescript ptiondescript ptiondescriptptiondescript  iondescriptionde scriptiondescriptiondescri ptiondescription</span></br></br>
		<span>description description description description description description description description description description description descriptiondescriptiondescriptiond escriptiondescriptiondescriptionde scriptiondescriptiondescri ptiondescription</span></br></br>
		<span>description description description description description description description description description description description descriptiondescriptiondescriptiond escriptiondescriptiondescriptionde scriptiondescriptiondes crption des cripti ptiondescription</span></br></br>
		<span>description description descriptio ptiondescript ptiondescript n description description description description desptiondescriptcription description description description descriptiondescriptiondescriptiond escriptiondescriptiondescriptionde scriptiondescriptiondescri ptiondescription</span></br></br>
		<span>description description description description description desptio ptiondescript ndescriptption descrip tcription description description description description description descriptiondescriptiondescriptiond escriptiondescriptiondescriptionde scriptiondescriptiondescri ptiondescription</span></br></br>
		<span>description description description description description description description description description description description descriptiondescriptiondescriptiond escriptiondescriptiondescriptionde scriptiondescriptiondescri ptiondescription</span>
	</div>
	<article class="col-md-12 show-anal" id="analysis">
		<div class="col-md-8">
			<span>description description description description description description description description description description description descriptiondescriptiondescriptiond escriptiondescript ptiondescript ptiondescri ptptiondescript  iondescriptionde scription descriptiondescri ptiondescription</span></br></br>
		<span>description description description description description description description description description description description descriptiondescriptiondescriptiond escriptiondescriptiondescriptionde scriptiondescriptiondescri ptiondescription</span></br></br>
		<span>description description description description description description description description description description description descriptiondescriptiondescriptiond escriptiondescriptiondescriptionde scriptiondescriptiondes crption des cripti ptiondescription</span></br></br>
		<span>description description descriptio ptiondescript ptiondescript n description description description description desptiondesc riptcription description description description descriptiondescriptiondescriptiond escriptiondescriptiondescriptionde scriptiondescriptiondescri ptiondescription</span></br></br>
		</div>
		<div class="col-md-4">
			<!-- circle -->
			<img src="">
			<svg height="220" width="220">
			  <circle cx="110" cy="110" r="100" stroke="black" stroke-width="3" fill="red" />
			</svg>

		</div>
	</article>
	<article class="col-md-12 show-reserve" id="reservation">
		<div class="reserve-div">
			<button class="reserve-button">RESERVE</button>
		</div>
	</article>
</section>