<section class="col-md-12 section">
	<!-- apleplci -->
	
	<div class="vertical_home vertical_home_left opening">
	S<br>M<br>A<br>R<br>T
	</div>
	<div class="vertical_home vertical_home_right opening">
		I<br>T<br><p class="bigX">X</p><br>I<br>L
	</div>
	<div class="display">
		<ul class="nav">
			<li><a href="#introduce">Introduce </a></li>
			<li><a href="#analysis">Analysis </a></li>
			<li class="last"><a href="#reservation">Reserve </a></li>
		</ul>
		<div>
			<button class="cbutton" >M O R E .</button>
		</div>
	</div>
	<div class="col-md-4 showCircleList" id="introduce">
		<!-- circle -->
		<img src="http://imgur.com/Jx7o3Jp.png" >
		</br>
		<span>不需要繁瑣的步驟，掃描，問問題，馬上得到答案</span>
	</div>
	<div class="col-md-4 showCircleList">
	<!-- circle -->
		<img src="http://imgur.com/vx9Z0xS.png" >
		</br>
		<span>從掃描到開始發問只要10秒，用問得比上網查還快</span>
	</div>
	<div class="col-md-4 showCircleList last">
	<!-- circle -->
		<img src="http://imgur.com/VwZAa9l.png" >
		</br>
		<span>整個流程會得到更快，更正確的得到答案</span>
	</div>
	<div class="col-md-12 show-description">
		<h1 class="title">是不是遇到一點麻煩了?</h1>
		<span>平常在操作電器上，會不會會遇到一些問，造成使用上的困擾?</br></br>
		例如洗衣機突然要洗比較特殊的衣服，怕把衣服洗壞掉。</br></br>
		或是說冷氣機的濾網不會清，冷氣壞了該找誰修理?</br></br>
		吸塵器塞住了，要怎麼拆下來清?</span></br></br>
		<span>找到答案後會發現問題其實不難解決，但難的是要如何用很短的時間找到答案</span></br></br>
		<span>我們的服務是提供便利，快速，直覺，讓使用者能夠在當下馬上解決問題</span></br></br>
	</div>
	<article class="col-md-12 show-anal" id="analysis">
		<div class="col-md-8 analysis">
			<span>大家普遍有智慧型手機，也越來越常使用智慧型手機去解決問題</span></br></br>
			<span>像是QRCode是個很好的例子</span></br></br><span>大家會掃描二維條碼去撿好康，加好友，看導覽</span></br></br>
			<span>另外還有聊天室，雖然有很多長輩不太會操作家電或是3C</span></br></br><span>卻很會用聊天軟體和傳長輩圖</span></br></br>
			<span>在使用商品遇到問題時，直接從商品上去取得資訊是最直覺的方式</span></br></br><span>所以我們希望不管這個服務是提供給哪個年齡層，解決哪些商品使用上的問題</span></br></br><span>都能夠提供最直覺的方式，讓使用者去解決遇到的問題</span></br></br>
		</div>
		<div class="col-md-4 showCircleList">
			<!-- circle -->
			<img src="http://imgur.com/mJrtcUx.png">
			</br>
			<span>二維條碼逐年使用率上升</span>
		</div>
	</article>
	<article class="col-md-12 show-reserve" id="reservation">
		<div class="reserve-div">
			<button class="reserve-button">RESERVE</button>
		</div>
	</article>
</section>