<section class="col-md-12 section">
	<!-- apleplci -->
	
	<div class="vertical_home vertical_home_left opening">
	S<br>M<br>A<br>R<br>T
	</div>
	<div class="vertical_home vertical_home_right opening">
		I<br>T<br><p class="bigX">X</p><br>I<br>L
	</div>
	<article class="showReservation">
		<h1 class="reservationTitle">INTELLEGENT TAG</h1>
		<form>
			<div class="col-md-offset-6 horizonDivider"></div>
		</form>
		<form class="reservationForm">
			
			<span class="col-md-12 introduceTitle">
				<div class=" shortUnderScore"></div>姓名
			</span>
			<input class="col-md-12 reservationInput" type="text" name="name" id="name">
		</form>
		<form class="reservationForm">
			<span class="col-md-12 introduceTitle">
				<div class=" shortUnderScore"></div>電子信箱
			</span>
			<input class="col-md-12 reservationInput" type="email" name="name" id="email">
		</form>
		<form class="reservationForm specForm">
		<!-- 改成check list -->
			<span class="col-md-12 introduceTitle">
				<div class=" shortUnderScore"></div>對於哪一類的產品，會比較想要有這樣的服務?
			</span>
			
			<label ng-repeat="option in options" class="checkbox-inline reservationLabel">
		      <input type="checkbox" class="reservationInput" id="reservationOption{{$index}}" value="{{option}}">{{option}}
		    </label>
		</form>
		<form class="reservationForm">
			<span class="col-md-12 introduceTitle">
				<div class=" shortUnderScore"></div>對我們說的話或者希望能加入其他機器人
			</span>
			<input class="col-md-12 reservationInput" type="tesxt" name="name" id="advice">
		</form>

		<form>
			<button class="col-md-offset-5 col-md-2 btn btnDefault" ng-click="submit()">提交</button>
		</form>
	</article>
</section>