@import url(https://fonts.googleapis.com/earlyaccess/cwtexhei.css);
*{
	box-sizing: border-box;
	font-family: 'cwTeXHei', sans-serif;
}

html, body {
    min-height: 100% !important;
	margin:0;padding:0;height:100%;width: 100%;
	/*background: #D1CFBA;*/
    background: #63768D;
}

.btn{
	box-shadow:2px 3px 1px rgba(20%,20%,40%,0.1);
}

.btn-default{
	background: #CCD1CD;
	border-radius: 0;
}

.btn-fb{
	background: #5587B2;
	border-radius: 0;
	color: white;
}

.btn-tw{
	background: #75B9F4;
	border-radius: 0;
	color: white;
}

.btn-go{
	background: #D56F3E;
	border-radius: 0;
	color: white;
}


@media screen and (max-width: 668px) {
    .title{
    	text-align: center;
    	padding-top: 30px;
    	padding-bottom: 10px;
    	height: 14%;
    	background: #4A949B;
    }

    .title .active{
    	color: white;
    }

    .title .item{
    	padding-top: 5px;

    }

    .title .item p{
    	font-size: 13px;
    }

    .r-line{
    	border-right: 1px solid rgba(0,0,0,0.5);
    }

    .information{
    	background: white;
    	margin-top: 10px;
    	line-height: 19.8px;
    	text-align: justify;
    	padding-bottom: 15px;
    }

    .information .info-header{
    	padding-bottom: 4px;
    	border-bottom: 1px solid rgba(0,0,0,0.4);
    }

    .icon{
    	margin-top: 5px;
    	width: 40px;
    	height: 40px;
		-webkit-filter:invert(50%);
  			filter:invert(50%);
    }

    .center{
    	text-align: center;
    }

    /*login*/

    .form{
    	background: white;
    	margin-top: 20px;
    	padding-top: 20px;
    	padding-bottom: 20px;

    }

    .form .form-input{
    	float: left;
    	padding: 0;
    	padding-left: 20px;
    	padding-top: 2px;
    	padding-bottom: 2px;
    	margin-bottom: 24px;
    }

    .form input{

    	border:0;
    	background: none;
    }

    .form .sub-title{
    	padding-right: 0;
    	margin-bottom: 24px;
    }

    .form .sub-title h3{
    	margin: 0;
    	text-align: right;
    	padding-right: 15px;
    	border-right: 1px solid rgba(0,0,0,0.4);
    }

    .social{
    	margin-top: 20px;
    }
    /*manage*/
    .slide-bar{
        background: #3B878E;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid #3B878E;
        border-bottom: 3px solid white;
        color: white;
    }

    .non-active{
        border-bottom: 0;
        color: black
    }

    .list{
        padding: 0;
        margin: 0;
    }

    .list .list-item{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
        background: rgba(255,255,255,0.2);
    }

    .list img{
        height:40px;
        width: 40px;
    }

    .list .list-title,.list .list-sub-title,.list .list-desc{
        margin: 0;
        padding: 0;
        overflow-y: hidden;
         white-space: nowrap;
    }

}

/*問卷*/

.line{
    top: 20px;
    right: 20px;
    width: 2px;
    height: 500px;
    position: fixed;
    background: white;
}

.section{
    padding: 0;
    height: 100%;
}

.section .display {
    width: 100%;
    height: 810px;
    background: url("http://www.kinetic-lights.com/wordpress/wp-content/uploads/2013/06/kinetc-lights-winch-zurich.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
     text-align: center;
}

.section .display .nav{
    display: flex;
    text-decoration: none;
    padding: 10px;
}

.section .display .nav li{
    border-right: 1.8px solid;
}

.section .display .nav li{
    color: none;
}

.section .display .nav a{
    color: white;
}

.section .display .nav .last{
    border: none;
}


.section .display .cbutton{
    font-size: 80px;
    margin-top:400px;
    margin-bottom: 200px; 
    background: none;
    border: 0;
    padding-right: 10px;
    padding-left: 10px;
    transition: all .5s;
    color: black;
}

.section .display .cbutton:hover{
    color: white;
}

.section .showCircleList{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section .showCircleList span{
    font-size: 17px;
    color: white;
}

.section .showCircleList img{
    width: 60%;
    height:60%;
    margin-bottom: 20px;
}



.section .circle{

}

.section .show-description{
    background: white;
    padding:50px;
    padding-left: 30%;
}

.section .show-description span{
    font-size: 18px;
}

.section .analysis span{
    padding-left: 30px;
    font-size: 20px;
    color: white;
}

.section .title{
    /*text-align: center;*/
    margin-bottom: 30px;
}

.section .show-anal{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #1A1620;
    padding-left: 40px;
}

.section .show-reserve{
    /*background: url("../img/reserve.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
}

.section .show-reserve .reserve-div{
    text-align: center;
    background: url("../img/reserve.png");
    height: 100%;
    background-attachment: fixed;
    
}

.section .show-reserve .reserve-div .reserve-button{
    /*font-style: italic;*/
    border-radius: 5px;
    padding-top: 18px;
    color: white;
    font-size: 60px;
    background: none;
    border:4px solid;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 150px;
    margin-bottom: 350px;   
    transition: all .5s;
}

.section .show-reserve .figOne{
    background: url("http://img02.tooopen.com/images/20160326/tooopen_sy_157394974564.jpg");
    height: 100%;
}

.section .show-reserve .figTwo{
    height: 100%;
    background: url("http://img.sc115.com/uploads/sc/jpgs/05/xpic4509_sc115.com.jpg");    
}

.section .show-reserve .reserve-div .reserve-button:hover{
    /*font-style: italic;*/
    color: black; 
}

.last{
    border: 0;
}

.nav>li>a:hover{
    background: none;
}

.vertical_home {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    color: rgba(255,255,255,0.6);
    font-size: 17px;
    position: fixed;
    top: 55%;
    margin-top: -116px;
    text-align: center;
    z-index: 995;
    line-height: 1.3;
}

 .vertical_home .bigX{
    margin: 0;
    font-size: 30px;
    margin-bottom:-20px; 
}

.vertical_home_left {
    left: 35px;
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
}

.vertical_home_right {
    right: 35px;
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
}

.vertical_home .line {
    position: relative;
    width: 1px;
    height: 70px;
    background: #fff;
    margin: 0 10px 30px;
    top: 0;
    -webkit-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
}
.vertical_home .line.down_line {
    top: 260px;
    -webkit-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
}

.vertical_home .line {
    position: relative;
    width: 1px;
    height: 70px;
    background: #fff;
    margin: 0 10px 30px;
    top: 0;
    -webkit-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
}

.vertical_home .line.down_line {
    top: 260px;
    -webkit-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .9s cubic-bezier(0.4, 0, 0.2, 1);
}


/*reservation*/

.showReservation{
    
    background: url("http://www.anhuiyubo.com/a/img/6/5/e/b/3/4/13638.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
    padding: 10px 50px 10px 50px;
    margin: 10px;
}
.showReservation .reservationTitle{
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Slabo 27px', serif;
}

.showReservation .horizonDivider{
    border-radius: 2px;
    width: 2px;
    height: 112.4px;
    background: rgba(255,255,255,0.8);
}

.showReservation .reservationForm{

    margin: 10px;
    margin-top: 26px;
    margin-bottom: 80px;
    padding: 5px;   
}


.showReservation .specForm{

    margin: 10px;
    margin-top: 26px;
    margin-bottom: -20px;
    padding: 5px;   
}

.showReservation .shortUnderScore{
    margin-top: 20px;
    margin-right: 10px;
    height: 2px;
    width: 24px;
    background: rgba(255,255,255,0.9);
}

.showReservation .introduceTitle{
    display: flex;
    font-size: 20px;
    color: white;
    padding: 0;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 25px;
    /*font-weight: bold;*/

}

.showReservation .reservationLabel{
    margin-top: 5px;
    margin-right: 25px;
    color: white;
    font-size: 20px;
}

.showReservation .reservationInput{
    padding: 6px;
    border-radius: 2px;
    transition: ease-out .8s;
    border: 2px solid rgba(255,255,255,0.4);
    background: rgba(255,255,255,0.2);
    color: black;
    font-size: 15px;
    color: white;

}

.showReservation .btnDefault{
    margin-top: 40px;
    font-size: 32px;
    border-radius: 0px;
    border: 2px solid rgba(255,255,255,0.6);
    background: rgba(255,255,255,0.3);
    color: white;
    transition: all ease-out .8s;
}

.showReservation .btnDefault:hover{
    color: black;
    background: rgba(255,255,255,0.5);
}

@media screen and (max-width: 668px) {
    .showReservation .reservationTitle{
        font-size: 40px;
    }

    .horizonDivider{
        display: none;
    }

    .showReservation{
        z-index: 100;
        height: auto;
        background-size: cover;
        background-repeat: repeat-y;
    }

    .section .display .nav{
        font-size: 20px;

    }

    .section .show-reserve .figOne{
    display: none;
}

.section .show-reserve .figTwo{
    display: none;  
}

}








